<!-- Extends base.html -->
{% extends 'index.html' %}

{% block bodycontent %}
    <h2 class="mb-4">Instruments</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Vendor</th>
                <th>Version</th>
                <th>Folder Location</th>
            </tr>
        </thead>
        <tbody>
            {% for instrument in instruments %}
                <tr>
                    <td>{{ instrument.instrument_name }}</td>
                    <td>{{ instrument.vendor }}</td>
                    <td>{{ instrument.version }}</td>
                    <td>{{ instrument.folder_location }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
