<!-- Extends base.html -->
{% extends 'index.html' %}

{% block bodycontent %}
    <h2 class="mb-4">Instruments</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Connector ID</th>
                <th>Instrument Name</th>
                <th>Instrument Version</th>
                <th>IP Address</th>
                <th>PC Name</th>
                <th>Timestamp</th>
                <th>Status</th>
                <th>Original Filename</th>
                <th>Updated Filename</th>
            </tr>
        </thead>
        <tbody>
            {% for log in log_data %}
                <tr>
                    <td>{{ log.connector_id }}</td>
                    <td>{{ log.instrument_name }}</td>
                    <td>{{ log.instrument_version }}</td>
                    <td>{{ log.ip_address }}</td>
                    <td>{{ log.pc_name }}</td>
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.status }}</td>
                    <td>{{ log.org_filename }}</td>
                    <td>{{ log.updated_filename }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
