<!-- Extends base.html -->
{% extends 'index.html' %}
{% block headcontent %}
<style>
    .copied {
        color: green;
    }
</style>
{% endblock %}
{% block bodycontent %}
<div class="row align-items-center mb-4">
        <div class="col-md-6">
            <h2 class="mb-0">Connectors</h2>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" id="newButton" class="btn btn-primary btn-md" data-toggle="modal" data-target="#formModal">
                <i class="fas fa-plug"></i> Register Connector
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Connector Name</th>
                <th>Instrument Name</th>
                <th>Instrument Version</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for connector in connectors %}
                <tr>
                    <td>{{ connector.connector_name }}</td>
                    <td>{{ connector.instrument_name }}</td>
                    <td>{{ connector.version }}</td>
                    <td>
                        {% if connector.status == '0' %}
                            Inactive
                        {% else %}
                            Active
                        {% endif %}
                    </td>
                    <td>
                        {% if connector.status == '0' %}
                            <button class='btn btn-primary'>Edit</button>
                            <button class='btn btn-danger'>Delete</button>
                            <button class='btn btn-info' data-toggle="modal" data-target="#viewModal" onclick="viewDetails('{{ connector.connector_name }}', '{{ connector.instrument_name }}', '{{ connector.version }}', '{{ connector.status }}', '{{ connector.ckey }}')">View</button>
                        {% else %}
                            <button class='btn btn-primary'>Edit</button>
                            <button class='btn btn-info' data-toggle="modal" data-target="#viewModal" onclick="viewDetails('{{ connector.connector_name }}', '{{ connector.instrument_name }}', '{{ connector.version }}', '{{ connector.status }}', '{{ connector.ckey }}')">View</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal for Register Instrument -->
    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel">Register Instrument</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="connectorName">Instrument Name</label>
                            <input type="text" class="form-control dark-background border border-dark" id="instrumentName" placeholder="Enter Instrument Name">
                        </div>
                        <div class="form-group">
                            <label for="connectorType">Vendor</label>
                            <input type="text" class="form-control dark-background border border-dark" id="instrumentType" placeholder="Vendor Name">
                        </div>
                        <div class="form-group">
                            <label for="connectorType">Vendor</label>
                            <input type="text" class="form-control dark-background border border-dark" id="connectorType" placeholder="Enter Instrument Version">
                        </div>
                        <div class="form-group">
                            <label for="connectorType">Vendor</label>
                            <input type="text" class="form-control dark-background border border-dark" id="connectorType" placeholder="Enter Folder Location">
                        </div>
                        <!-- Add more form fields as needed -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Viewing Details -->
    <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewModalLabel">View Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Connector Name:</strong> <span id="viewConnectorName"></span></p>
                    <p><strong>Connector Key:</strong> <span id="viewConnectorKey"></span> 
                        <button id="copyButton" onclick="copyToClipboard('viewConnectorKey', 'copyButton')" class="btn btn-light btn-sm">
                            <i class="fas fa-copy"></i>
                        </button>
                    </p>
                    <p><strong>Instrument Name:</strong> <span id="viewInstrumentName"></span></p>
                    <p><strong>Instrument Version:</strong> <span id="viewInstrumentVersion"></span></p>
                    <p><strong>Status:</strong> <span id="viewStatus"></span></p>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function viewDetails(connectorName, instrumentName, version, status,ckey) {
            document.getElementById('viewConnectorName').innerText = connectorName;
            document.getElementById('viewConnectorKey').innerText = ckey;
            document.getElementById('viewInstrumentName').innerText = instrumentName;
            document.getElementById('viewInstrumentVersion').innerText = version;
            document.getElementById('viewStatus').innerText = status == '0' ? 'Inactive' : 'Active';
        }
        function copyToClipboard(elementId, buttonId) {
            var copyText = document.getElementById(elementId).innerText;
            console.log("Text to copy:", copyText); // Debugging line
            // Create a temporary textarea element
            var tempTextarea = document.createElement("textarea");
            tempTextarea.value = copyText;
            document.body.appendChild(tempTextarea);
            // Select the text field
            tempTextarea.select();
            tempTextarea.setSelectionRange(0, 99999); // For mobile devices
            // Copy the text inside the text field
            navigator.clipboard.writeText(tempTextarea.value).then(function() {
                // Change the button color to indicate success
                var button = document.getElementById(buttonId);
                button.style.backgroundColor = "green";
                // Revert the button color after a short delay
                setTimeout(function() {
                    button.style.backgroundColor = "";
                }, 1000);
            });
        
            // Remove the temporary textarea element
            document.body.removeChild(tempTextarea);
        }
        
    </script>
{% endblock %}
